.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
  background-color: #51175e; /* same as before */
  color: white;
}

.landingSection-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 24px;
  object-fit: cover;
}

.landingSection-heading {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: "Inter";
}

.landingSection-bio {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-family: "Inter";
}