
header{
    background-color: rgb(59, 69, 47);
    padding: 0.01rem;
}

nav{
    background-color: rgb(59, 69, 47);
    padding: 0.01rem;
}


header > img{
    width: 4rem;
    height: 6.8rem;
    margin:auto;
    display: block;
    margin: 0rem auto;
    margin-top: 1rem;
    }

body{
    background-color: rgb(38, 81, 45);
}

nav ul {
    list-style: none;
    text-align: center;

}

nav li{
 display: inline-block; 
 margin: 0.5rem 1rem ;
 color:aliceblue;
 text-decoration: none;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


nav li:hover{
 text-decoration: underline;
}

a{
    text-decoration: none;
    color:rgb(212, 247, 198)
}

section img{
    width: 13rem;
    border-radius: 1rem;
}

section img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.card-container{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    max-width: 32rem;
    margin: auto;
}

.card-container section {
    background-color: rgb(27, 75, 37);
    border: 0.1rem solid black;
    box-shadow: 2rem;
    padding: 1rem;
    border-radius: 1rem;

}

.card-container h2{
    color:rgb(255, 255, 255);
    margin-top: 0.1rem;
    padding: 0rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container p{
    color:aliceblue;
    margin-top: 0rem;
    padding: 0rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container p, h2:hover{
    cursor: pointer;
}

.card-container h2:hover{
    text-decoration: underline;
}

.promo{
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.promo p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#percentage{
    color: rgb(189, 229, 30);
    font-weight: 600;
    display: inline-block; 
    animation: pulse 1.8s ease-in-out infinite;
}

#phone{
        color: rgb(189, 229, 30);

}

footer > div{
    display: flex ;
    color:aliceblue;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    background-color: rgb(59, 69, 47);
    padding: 1rem;
}

footer img {
    width: 3rem;
}

footer p{
    margin-top: 2.6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.08);
        opacity: 0.85;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
