
header{
    background-color: rgb(7, 65, 45);
    padding: 0.01rem;
}

nav{
    background-color: rgb(7, 65, 45);
    padding: 0.01rem;
}


header > img{
    width: 4rem;
    height: 6.8rem;
    margin:auto;
    display: block;
    margin: 0rem auto;
    margin-top: 1rem;
    }

body{
    background-color: rgb(5, 35, 10);
}

nav ul {
    list-style: none;
    text-align: center;

}

nav li{
 display: inline-block; 
 margin: 0.5rem 1rem ;
 color:aliceblue;
 text-decoration: none;
}

a{
    text-decoration: none;
    color:rgb(212, 247, 198)
}

section img{
    width: 13rem;
}

.card-container{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    max-width: 32rem;
    margin: auto
}

.card-container section {
    /* background-color: rgb(19, 62, 28); */
}

.card-container h2{
    color:rgb(255, 255, 255);
}

.card-container p{
    color:aliceblue;
}

.promo{
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    color:aliceblue
}

.promo span{
    color: rgb(189, 229, 30);
    font-weight: 600;
}

footer > div{
    display: flex ;
    color:aliceblue;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    background-color: rgb(7, 65, 45);
    padding: 1rem;
}

footer img {
    width: 3rem;
}

footer p{
    margin-top: 2.6rem;
}

