* {
    font-family: sans-serif;
}

form > p {
  font-size: 2rem;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(187, 255, 255);
  border-radius: 1rem;
  width: 9rem;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  font-family: 'Courier New', Courier, monospace;

}

h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

input,
button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
input {
    display: block;
    margin:auto;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;

}
button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;

}

.operation-buttons {
  text-align: center;
  margin-bottom: 1rem;;
}

.operation-buttons > button:hover {
  background-color: rgb(210, 210, 211);
}


.other-buttons > button {
    background: tomato;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.other-buttons > button:hover {
    background: rgb(221, 83, 59);
}

.other-buttons {
  text-align: center;

}

.App{
  border: 5px solid rgb(90, 85, 85);
  border-radius: 1rem;
  margin: auto;
  padding: 1rem;
  max-width: 29rem;
  margin-top: 3rem;
  background-color: rgb(239, 234, 234);
}

body{
  background-color: rgb(111, 184, 153);
}