.container{
    display: inline-flex;
    /* in-line flex makes the flex container behave like an inline element */

    flex: 1 1 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
    
    overflow: hidden;
    /* overflow clips the overflowing content (i.e. the text that is entered the search
    query*/
}

.icon{
    padding:0.8rem;
}

.searchBox{
    border:0;
    flex:1
}

.searchButton{
    color: white;
    background: #0f4a8a;
    border: 0;
    padding: 0.8rem;
}