#logo{
    width: 10rem;
    height: 9rem;
    margin:auto;
    display: block;
    margin: 0 auto;
}   

ul{
    flex-direction: row;
}

h1, h2{
    text-align: center;
    color:rgb(120, 18, 18);
}

html{
    background-color: rgb(210, 255, 231);
}

footer > p {
    text-align: center;
}

/* make navigation bar elements aligned in a row */
.nav{
  display: flex;
  gap: 1rem;/* space between items */
  list-style: none;/* remove bullets */
  padding: 0;
  margin: auto;
  cursor: pointer;
  justify-content: center; /* centers items horizontally */
}

video, button, form{
    display: block;
    margin:auto;
}

form{
    margin-left: auto;
}

footer{
    margin-top: 5rem;
    margin-bottom: 3rem;
}