img{
    width: 10rem;
    height: 9rem;
    margin:auto;
    display: block;
    margin: 0 auto;
}   

body{
    background-color: #EDEFEE;
    font-family: 'Markazi Text', 'serif';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

/* center the logo */
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* arrange nav elements in a row */
nav ul {
    list-style: none;
    text-align: center;

}

nav li{
 display: inline-block;   
}

section{
    display: flex;
}

article{
    flex: 1;
}

footer{
    display: flex;
}

footer div {
    flex: 1
}